body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    border-radius: 10px;
    padding-block: 20px;
    padding-inline: 10px;
    height: 80vh;
}

input {
    margin-top: 20px;
    padding: 5px;
}

div {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}